.signup{
  /* height: 700px; */
  margin-top: 80px;
}
.form-parent{
  width: 385px;
/* height: 556px; */
border-radius: 18px;
background: #FFF;
box-shadow: 3px 4px 10px 2px rgba(0, 0, 0, 0.05);
padding: 30px;
}
.form-parent h4{
  color: #000;
/* font-family: Open Sans; */
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
form input{
  border-radius: 8px;
  border: 1px solid #cfcfcf;
}
.signup-btn{
  width: 327px;
height: 48px;
border-radius: 8px;
background: #3A4256;
color: white;
}
.google-btn{
  width: 327px;
  height: 48px;
  color: #3A4256;
/* font-family: Open Sans; */
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 18px;
background: #FFF;
box-shadow: 3px 4px 10px 2px rgba(0, 0, 0, 0.05);

}
.signup span{
  width: 131px;
height: 1px;
background: #CFCFCF;
}