footer{
  background: url(../../../assets/images/footer-bg.png) no-repeat center center/cover;
}

footer h5{
  color: #939393;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 114.682%; /* 20.643px */
}
.row li{
  list-style: none;
  color: #3A4256;
/* font-family: Open Sans; */
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 184.682%; /* 18.349px */
}